.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    background: url(http://localhost/studio/upload/Banner/F_201803181557Yco99l93.JPG) 78% no-repeat;
    border-radius: .3rem;
}